/* Basics */
a {
    color: maroon;
}

span.tag a {
    color: white;
}

.tag-primary {
    background-color: maroon;
}

/* Navigation */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: maroon;
    background: #fff;
}

.navbar-nav .nav-link {
    color: rgba(128, 0, 0, 1);
}

.app-header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #fff;
    background-image: url("../img/logo_us.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55px auto;
    border-bottom: 1px solid #c2cfd6;
}

header h1 {
    font-size: 1.3rem;
    color: maroon;
}

header.navbar a.navbar-brand {
    border-bottom: 0;
}

header.navbar {
    height: 60px;
    line-height: 60px;
}

.breadcrumb {
    background-color: #f6f6f6;
}

.sidebar .nav {
    background-color: lightgray;
}

.navbar .sidebar .dropdown-toggle, .sidebar .nav-link, .sidebar .navbar .dropdown-toggle {
    color: maroon;
}

.navbar .sidebar .dropdown-toggle:hover, .sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover {
    color: #fff;
    background: maroon;
}

.main .container-fluid {
    margin-top: 1.5rem;
}

/* Layout */

/* Form and active elements */
a.btn-mary {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.9);
    border-color: maroon;
}

.btn-primary {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.9);
    border-color: maroon;
}

.btn-danger {
    float: right !important;
}

.bg-primary {
    background-color: rgba(128, 0, 0, 0.6) !important;
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background: rgba(128, 0, 0, 0.9) none;
    border-color: maroon;
}

.card.bg-primary {
    background-color: rgba(128, 0, 0, 0.6);;
}
