/* Basics */
a {
    color: maroon;
}

label {
    font-weight: 600;
}

.tag {
    border-radius: 0;
}

span.tag a {
    color: white;
}

.tag-primary {
    background-color: maroon;
}

.nowrap {
    white-space: nowrap;
}

/* Navigation */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: maroon;
    background: #fff;
}

.navbar-nav .nav-link {
    color: rgba(128, 0, 0, 1);
}

.sidebar .nav-title {
    color: #000;
}

.app-header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 50px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background: #fff url("../img/logo_us.png") no-repeat center center;
    background-size: 55px auto;
    border-bottom: 0;
}

header h1 {
    font-size: 1.3rem;
    color: maroon;
}

header.navbar a.navbar-brand {
    border-bottom: 0;
}

header.navbar {
    height: 60px;
    line-height: 60px;
}

.breadcrumb {
    background-color: #f6f6f6;
}

.sidebar .nav {
    background-color: lightgray;
}

.navbar .sidebar .dropdown-toggle, .sidebar .nav-link, .sidebar .navbar .dropdown-toggle {
    color: maroon;
}

.navbar .sidebar .dropdown-toggle:hover, .sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover {
    color: #fff;
    background: maroon;
}

.main .container-fluid {
    margin-top: 1.5rem;
}

/* Layout */

/* Form and active elements */
a.btn-mary {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.9);
    border-color: maroon;
}

.btn-primary {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.9);
    border-color: maroon;
}

.btn-danger {
    float: right !important;
}

.bg-primary {
    background-color: rgba(128, 0, 0, 0.6) !important;
}

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    background: rgba(128, 0, 0, 0.9) none;
    border-color: maroon;
}

.card.bg-primary {
    background-color: rgba(128, 0, 0, 0.6);;
}

.section-title {
    color: maroon;
    margin-top: 0.8em;
}

.section {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;
    margin-bottom: 1.5rem !important;
}

.card-title {
    font-size: larger;
    font-weight: 500;
}

/* No more tables */
.table {
    margin: 0;
    width: 100%;
    display: table;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #fcfcfc;
}

.row.header {
    font-weight: 900;
    color: #444;
    background: #ddd;
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

/* Ends No more tables */

/* Printing */
@media print {
    .navbar {
        display: none !important;
    }

    .d-print-none {
        display: none !important;
    }

    .tag-primary {
        background: transparent;
    }

    .sidebar-fixed .app-footer, .sidebar-fixed .main {
        margin-left: 0;
    }

    .section-title {
        margin-top: 0.5em;
    }

    .header-fixed .app-body {
        margin-top: 5px;
    }
}

@media (max-width: 800px) {
    body {
        line-height: 22px;
    }

    .table {
        display: block;
    }

    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.header {
        padding: 0;
        height: 6px;
    }

    .row.header .cell {
        /* Oculta la cabecera inicial pero no la elimina para accesibilidad */
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 8px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }

    .cell {
        padding: 2px 16px;
        display: block;
    }
}